/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// page colors
$rails: #96040b;

// typography
$font-family: arial, sans-serif;

// shadows
$box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
$box-shadow-hvr: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

body {
  font-family: $font-family;
  font-size: 13px;
  margin: 0;
}

main.home {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -7rem;
  width: 584px;
  .title {
    width: 300px;
    height: 92px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: $rails;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .search {
    height: 44px;
    width: 584px;
    line-height: 44px;
    border: none;
    border-radius: 2px;
    box-shadow: $box-shadow;
    margin-bottom: 30px;
    background-size: 24px 24px;
    padding: 10px;
    &:hover, &:focus {
      outline: none;
      box-shadow: $box-shadow-hvr;
    }
  }
  .articles {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    .article {
      padding: 10px;
      border-radius: 2px;
      box-shadow: $box-shadow;
    }
    .article:hover, .article:focus {
      cursor: pointer;
      outline: none;
      box-shadow: $box-shadow-hvr;
    }
  }
}
